body{
    background-color: black;
    color:white;
    font-family: 'Roboto', 'arial', 'Times New Roman';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFA500;
}

.images-container {
    display: flex;
    justify-content: center; 
    margin-top: 70px;
}

.image {
    width: 100px;
    height: auto;
    margin: 0 10px;
    cursor: pointer;
}

.image:hover {
    opacity: 0.8;
}

.part{
    margin-top: 7%;
    text-align: center;
    font-size: 20px;
}

h1{
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    font-size: 50px;
}